*{
  box-sizing: border-box;
  background: #f7e6dc;
  margin: 0px;
  flex-wrap: wrap;
  grid-gap: 30px 30px;
  display: flex;
  align-content:
  flex-grow: 50%;
  padding: 0%;
  justify-content: center;
  justify-content: space-around;
}



.circle-1{
  background-color: oldlace;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

@keyframes bounce {
  0%{
    transform: translateY(-100%);
    opacity: 0:
  }

  5%{
    transform: translateY(-100%);
    opacity: 0:
  }

  15%{
    transform: translateY(0%);
    padding-bottom: 5px;
  }

  30%{
    transform: translateY(-50%);
  }

  40%{
    transform: translateY(0%);
    padding-bottom: 6px;
  }

  50%{
    transform: translateY(-30%);
  }

  70%{
    transform: translateY(0%);
    padding-bottom: 7px;
  }

  80%{
    transform: translateY(-15%);
  }

  90%{
    transform: translateY(0%);
    padding-bottom: 8px;
  }

  100%{
transform: translateY(-7);

  }

}

.circle-2{
  background-color: cornsilk;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-gap: 10px 20px;
  display: flex;



}



.circle-3{
  background-color: moccasin;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-gap: 10px 20px;
  display: flex;


}

.circle-4{
  background-color: NavajoWhite;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-gap: 10px 20px;
  display: flex;
}

.circle-5{
  background-color: peru;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-gap: 10px 20px;
  display: flex;

}


.circle-6{
  background-color: SaddleBrown;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-gap: 10px 20px;
  display: flex;
}

.container2{
  animation-delay: 2s;
}

.container3{
  animation-delay: 3s;
}
