*{
  box-sizing: border-box;
}

.sidebar{
  width: 400px;
  min-height: 500px;
  background-color: lightslategrey;
  color: white;
  font-size: 25px;
  padding: 25px;
  position: fixed;
  top: 0;
  right: -400px;
  transition: .5s;
}

.active {
right: 0;
}

button{
  background: mediumseagreen;
  padding: 25px;
  border: 1px solid darkgreen;
}


button:hover{
  background: lightyellow;
  cursor: pointer;
}
