*{
  box-sizing: border-box;
}
body{
  background-color: darkslategray

}
.title{
  background-color: #483D8B;
  font-family: monospace;
  text-align: center;
  font-size: 50px;
  background-size: contain;
  color: white;

}
h2{
  color: white;
  text-align: center;
}
p{
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  color: white;
}


ul{
list-style-type: none;
margin: 50px;
padding: 0px;
overflow: hidden;
background-color: lightblue;
margin-left: 395px;
margin-right: 541px;
position: -webkit-sticky;
  position: sticky;
  top: 0;
text-align: center;

}
li{
  display: inline;
  float: left;
  border-right: 2px solid white;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover{
  background-color: oldlace;
}

.container{
  position: relative;
  font-family: sans-serif;
  width: 2000px;
  height: 500px;
  margin: 240px auto;
}

.container .box1{
  position: relative;
  width: 1300px;
  height: 600px;
  background: blanchedalmond;
  float: center;
  margin: 75px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}


.first-post{
  font-family: georgia;
  text-align: center;
  font-size: 50px;
  background-size: contain;
  color: black;
}

.first-post1{
  font-family: georgia;
  text-align: center;
  font-size: 30px;
  color: black;
}

.first-post2{
  font-size: 15px;
}

.container .box2{
  position: relative;
  width: 1300px;
  height: 600px;
  background: blanchedalmond;
  float: center;
  margin: 75px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .box3{
  position: relative;
  width: 1300px;
  height: 600px;
  background: blanchedalmond;
  float: center;
  margin: 75px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
