html{
  background-color: darkslategray;
}

h1{
  text-align: center;
  color: white;
  font-family: georgia;
  background-color: #483D8B;
}
p{
  color: white;
  font-family: georgia;
  font-size: 25px;
  text-align: center;
}


.container{
  position: relative;
  font-family: georgia;
  width: 2000px;
  height: 500px;
  margin: 240px auto;
  font-size: 50px;

}

.container .box1{
  position: relative;
  width: 1300px;
  height: 600px;
  background: blanchedalmond;
  float: center;
  margin: 75px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

ul{
  color: white;
  font-family: georgia;
  font-size: 50px;

}


a{
  background-color: lightblue;
  display: inline;
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
    background-color: oldlace;
}
